*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
}
ul li {
    cursor: pointer;
}