@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header .all-header {
  background-color: #2c3333;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .all-header .icon-head .fa-face-smile {
  font-size: 40px;
  padding: 20px 20px;
}
header .all-header .icon-head .fa-face-frown {
  font-size: 40px;
}
header .all-header .icon-head .fa-face-meh {
  font-size: 40px;
  padding-right: 20px;
}
header .all-header nav ul {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  padding: 0px 30px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
header .all-header .heads {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-right: 20px;
  font-size: 20px;
}
main .boxes .dreams {
  position: relative;
  width: 40%;
  height: 500px;
  border: 3px solid #2e4f4f;
  margin: 20px 10px;
}
main .boxes .dreams img {
  position: absolute;
  width: 40%;
  border: 1px solid white;
}
main .boxes .dreams img:nth-child(2) {
  position: absolute;
  left: 210px;
  width: 315px;
  height: 359px;
  border: 1px solid white;
}
main .boxes .dreams img:nth-child(3) {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 314px;
  height: 150px;
  border: 1px solid white;
}
main .boxes .dreams img:last-child {
  position: absolute;
  bottom: 0;
  border: 1px solid white;
}
main .boxes {
  display: flex;
  justify-content: space-around;
}
main .boxes .video {
  margin: 100px 20px;
}
