@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
header nav ul li {
  padding: 30px 20px;
  cursor: pointer;
}
header nav ul li:hover {
  color: #f2a90d;
}
header nav ul li:first-child {
  color: #876cc4;
}
header {
  position: sticky;
  top: 0;
  background-color: white;
}
/* ! header bitti main basladi */

main .background {
  width: 100%;
  height: 740px;
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/4242949/images/Untitled-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 96.49% 50%;
  display: block;
}
main .background .img-1 img {
  width: 550px;
  height: 540px;
  margin: 80px 0px 0px 90px;
}
main .background .texts {
  margin-left: 670px;
  margin-top: -495px;
}
main .background .texts h1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
main .background .texts p {
  font-family: "Open Sans", sans-serif;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 1.125rem;
  margin: 20px 0 0 0;
}
main .background .texts .forms {
  margin-top: 30px;
  width: 500px;
  height: 80px;
  background-color: #1111;
  margin-bottom: 30px;
}
main .background .texts .forms form {
  text-align: center;
  display: flex;
}
main .background .texts .forms form input {
  margin-top: 17px;
  font-family: "Open Sans", sans-serif;
}
main .background .texts .forms form input:first-child {
  width: 330px;
  height: 45px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
}
main .background .texts .forms form input:last-child {
  background-color: #876cc4;
  color: white;
  border: none;
  border-radius: 20px;
  width: 115px;
  height: 45px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
main .background .texts i {
  margin-top: 30px;
  font-size: 35px;
  background-color: #f2a90d;
  color: white;
  padding: 15px;
  border-radius: 20px;
}
main .background .texts a {
  color: black;
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-left: 25px;
}
main .background .texts a:hover {
  color: #876cc4;
}
main .background .texts .coms {
  margin-left: 90px;
  margin-top: 10px;
  font-size: 18px;
}
main .background .shopicons {
  padding-top: 200px;
  display: flex;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
  padding-left: 160px;
  padding-right: 160px;
  align-items: center;
}
main .background .shopicons img {
  margin: 0px 60px;
}
main .background .shopicons img:first-child {
  width: 90px;
  height: 80px;
  opacity: 0.4;
}
main .background .shopicons img:nth-child(2) {
  width: 110px;
  height: 67px;
  opacity: 0.4;
}
main .background .shopicons img:nth-child(3) {
  width: 105px;
  height: 60px;
  opacity: 0.4;
}
main .background .shopicons img:last-child {
  opacity: 0.4;
}
/* ! main birinci hisse bitti ikinci basliyir */

main .digital-market {
  background-color: #f4f8fb;
  margin-top: 260px;
  height: 600px;
}
main .digital-market .market-texts {
  width: 50%;
  text-align: center;
  padding-top: 70px;
}
main .digital-market .market-texts h2 {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  text-align: left;
  padding-left: 90px;
}
main .digital-market .market-texts .market-text-p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 20px;
  text-align: left;
  padding-left: 90px;
  letter-spacing: 0.5px;
  line-height: 30px;
}
main .digital-market .market-texts .read {
  text-align: left;
  margin: 30px;
  margin-left: 50px;
  padding: 15px 39px 15px 37px;
}
main .digital-market .market-texts button {
  background-color: #876cc4;
  color: white;
  border: none;
  padding-top: 17px;
  padding-bottom: 37px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-top: -15px;
  cursor: pointer;
}
main .digital-market .all-images {
  width: 70%;
  height: 300px;
  margin-left: 600px;
  margin-top: -500px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 655px;
}
main .digital-market .all-images .globe {
  background-color: white;
  height: 240px;
  width: 280px;
  margin-right: 7px;
  border-radius: 20px;
  box-shadow: 5px 2px 10px 12px #1111;
}
main .digital-market .all-images .globe i {
  font-size: 40px;
  background-color: #876cc4;
  color: white;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 50px;
}
main .digital-market .all-images .globe .globe-p {
  font-size: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-top: -10px;
}
main .digital-market .all-images .light i {
  font-size: 40px;
  background-color: #f2a90d;
  color: white;
  padding: 15px 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 50%;
}
main .digital-market .all-images .light .light-p {
  font-size: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-top: -10px;
}
main .digital-market .all-images .light {
  background-color: white;
  height: 240px;
  width: 280px;
  margin-right: 25px;
  border-radius: 20px;
  box-shadow: 9px 2px 10px 12px #1111;
}

main .digital-market .all-images .gear i {
  font-size: 40px;
  background-color: #97bed8;
  color: white;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 50px;
}
main .digital-market .all-images .gear .gear-p {
  font-size: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-top: -10px;
}
main .digital-market .all-images .gear {
  background-color: white;
  height: 240px;
  width: 280px;
  margin-right: 25px;
  border-radius: 20px;
  box-shadow: 9px 2px 10px 12px #1111;
}

main .digital-market .all-images .map i {
  font-size: 40px;
  background-color: #98d697;
  color: white;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 50px;
}
main .digital-market .all-images .map .map-p {
  font-size: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  padding: 0px 5px;
  margin-top: -10px;
}
main .digital-market .all-images .map {
  background-color: white;
  height: 240px;
  width: 280px;
  margin-right: 25px;
  border-radius: 20px;
  box-shadow: 5px 2px 10px 12px #1111;
  margin-left: -19px;
}
/* ! section 2 bitti 3 basladi  */
main .phone-img {
  width: 100%;
  height: 700px;
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/4242949/images/Untitled-28.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
main .phone-img .phone-img-contain img {
  width: 550px;
  height: 494px;
  margin-left: 90px;
  margin-top: 85px;
}
main .phone-texts {
  margin-left: 680px;
  margin-top: -400px;
}
main .phone-texts h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 20px;
}
main .phone-texts p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  line-height: 30px;
}
main .phone-texts button {
  background-color: #876cc4;
  color: white;
  border: none;
  padding-top: 17px;
  padding-bottom: 37px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-top: -15px;
  margin-top: 30px;
  cursor: pointer;
}
/* ! sectiom 3 biti 4 basladi */
main .convert {
  background-color: #97bed8;
  width: 100%;
  height: 350px;
  position: relative;
}
main .convert .convert-contain {
  position: absolute;
  left: 83px;
  top: 60px;
  text-align: center;
  background-color: #eeecea;
  display: flex;
  padding: 60px 68px;
  border-radius: 20px;
  align-items: center;
}
main .convert .convert-contain h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: left;
}
main .convert .convert-contain button {
  background-color: #876cc4;
  color: white;
  border: none;
  padding-top: 17px;
  padding-bottom: 37px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-top: -15px;
  margin-top: 30px;
  cursor: pointer;
  margin-left: 220px;
  margin-bottom: 20px;
}
/* ! section 3 bitti 4 basladi */
main .boy-image {
  width: 100%;
  height: 640px;
  background-color: #f4f8fb;
}
main .boy-image .boy-texts {
  width: 60%;
  height: 300px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 55px;
  padding-top: 50px;
}
main .boy-image .boy-texts div {
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 25px;
  box-shadow: 4px 6px 4px 6px #1111;
}
main .boy-image .boy-texts div h2,
.boy-texts-p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
main .boy-image .boy-texts div p {
  font-weight: 400;
  font-size: 20px;
  margin: 0px 5px;
}
main .boy-image .boy-texts div h2 {
  font-size: 3.75rem;
  font-weight: 700;
  color: #f2a90d;
  margin-left: 20px;
  margin-right: 20px;
}
main .boy-image .boy-texts div:first-child {
  width: 270px;
}
main .boy-image .boy-texts div:nth-child(2) {
  width: 270px;
}

main .boy-image .boy-texts div:nth-child(3) {
  width: 270px;
}
main .boy-image .boy-texts div:last-child {
  width: 270px;
}
main .image-boys img {
  width: 530px;
  margin-left: 670px;
  margin-top: -250px;
}
/* ! section 4 bitti 5 basladi */
main .modern-office .modern-texts {
  text-align: center;
}
main .modern-office .modern-texts h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 60px;
}
main .modern-office .modern-texts p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

main .modern-office .modern-texts .modern-p1 {
  letter-spacing: 0.5px;
  line-height: 30px;
}
main .modern-office .modern-texts .modern-p2 {
  margin-bottom: 60px;
}
main .modern-office .modern-texts span {
  color: #876cc4;
  font-weight: 700;
}
main .modern-office .modern-imgs img {
  width: 600px;
  height: 400px;
  cursor: pointer;
  position: relative;
}
main .modern-office .modern-imgs img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s;
  position: relative;
  /* ? çox yoxladım ama width sabit qalıb zoom etməsini alındıra bilmədi */
}
main .modern-office .modern-imgs .image-1 {
  margin-right: 15px;
}
main .modern-office .modern-imgs .modern-icon i {
  font-size: 25px;
  position: absolute;
  top: 3870px;

  padding: 10px 15px 10px 15px;
  border-radius: 50%;
  cursor: pointer;
}
main .modern-office .modern-imgs .modern-icon .fa-chevron-right {
  right: 20px;
  background-color: rgba(245, 245, 245, 0.644);
}
main .modern-office .modern-imgs .modern-icon .fa-chevron-left {
  background-color: rgba(245, 245, 245, 0.644);
}
/* ! section 5 bitti 6 basladi */
main .need-digital {
  background-color: #f4f8fb;
  width: 100%;
  height: 820px;
}
main .need-digital .digital-texts {
  text-align: center;
  margin-top: -5px;
  padding-top: 70px;
}
main .need-digital .digital-texts h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 20px;
}
main .need-digital .digital-texts p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

main .need-digital .need-icons {
  display: grid;
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  text-align: center;
  margin-top: 20px;
  align-items: center;
  margin-right: 100px;
}
main .need-digital .need-icons div {
  background-color: white;
  width: 370px;
  height: 240px;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 80px;
  box-shadow: 4px 4px 4px 4px #1111;
}
main .need-digital .need-icons div i {
  font-size: 40px;
  color: white;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 50px;
}
main .need-digital .need-icons div .fa-globe {
  background-color: #876cc4;
}
main .need-digital .need-icons div .fa-lightbulb {
  background-color: #f2a90d;
  padding: 15px 20px;
}
main .need-digital .need-icons div .fa-gear {
  background-color: #97bed8;
}
main .need-digital .need-icons div .fa-map-location-dot {
  background-color: #98d697;
}
main .need-digital .need-icons div .fa-user {
  background-color: #b9c1cc;
  padding: 15px 17px;
}
main .need-digital .need-icons div .fa-coins {
  background-color: #876cc4;
}
main .need-digital .need-icons div h2 {
  font-weight: 400;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 20px;
}
main .need-digital .need-icons div p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 30px;
}
/* ! sectiom 6 bitti 7 basladi */
main .analysis{
  display: flex;
  justify-content: space-between;
  margin-top: 40px  ;
  background-image: url("https://assets.nicepagecdn.com/11a8ddce/4242949/images/Untitled-3.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}
main .analysis .black-boy-image img {
  width: 550px;
  height: 520px;
  margin-left: 100px;
  margin-top: 100px;
}
main .analysis .analysis-texts{
  margin-top: 100px;
}
main .analysis .analysis-texts h2{
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin-right: 140px;
  margin-bottom: 20px;
  line-height: 1.1;
  margin-top: -15px;
}
main .analysis .analysis-texts p{
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  text-align: left;
  margin-bottom: 30px;
  line-height: 30px;
  letter-spacing: 1.1;
}
main .analysis .analysis-texts form{
  background-color: #1111;
  width: 510px;
  height: 340px;
  padding-top: 20px;
  padding-left: 10px;
}
main .analysis .analysis-texts form .email-name{
  display: flex;
  margin-bottom: 10px;
}
main .analysis .analysis-texts form .label-1{
  margin-left: 12px;
 font-family: "Open Sans", sans-serif;
}
main .analysis .analysis-texts form .label-2{
  margin-left: 215px;
  font-family: "Open Sans", sans-serif;

}
main .analysis .analysis-texts form .email-name input{
  padding: 15px;
  margin-left: 10px;
  margin-top: 6px;
  border-radius: 10px;
  border: none;  font-family: "Open Sans", sans-serif;
  width: 230px;
  height: 45px;
  font-size: 16px;
  color: #b3b3b3;
}
main .analysis .analysis-texts .mesagge{
  font-family: "Open Sans", sans-serif;
  margin-left: 12px;
}
main .analysis .analysis-texts textarea{
  border: none;
  border-radius: 10px;
  margin-left: 15px;
  width: 465px;
  height: 120px;
  margin-top: 6px;
  text-decoration: none;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;
}
main .analysis .analysis-texts .input-submit{
  background-color: #876cc4;
  color: white;
  border: none;
  border-radius: 10px;
  width: 115px;
  height: 45px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 13px;
}
/* ! section 7 bitti 8 basladi */
main .orange{
  background-color: #f2a90d;
  width: 100%;
  height: 430px;
  position: relative;
}
main .orange .orange-texts{
  position: absolute;
  text-align: center;
  left: 80px;
  top: 50px;
  background-color: white;
  padding-top: 120px;
  padding-bottom: 40px;
  padding-left: 390px;
  padding-right: 390px;
  border-radius: 20px;
}
main .orange .orange-texts h2{
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: -70px;
}
main .orange .orange-texts p{
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  margin-bottom: 20px;
}
main .orange .orange-texts i{
  font-size: 40px;
  color: #f2a90d;
  margin-right: 20px;
}
main .orange .orange-texts a{
  color: black;
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
main .orange .orange-texts a:hover{
  color: #f2a90d;
  
}
main .orange .orange-texts button{
  background-color: #876cc4;
  color: white;
  border: none;
  padding-top: 17px;
  padding-bottom: 37px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-top: -15px;
  cursor: pointer;
  margin-top: 20px;
}
/* ! section 8 bitti 9 basladi */
/*     background-image: url(//images01.nicepagecdn.com/a1389d7…/af5743e…/pexels-photo-6000710.jpeg?version=);
ackground-image: url(//images01.nicepagecdn.com/a1389d7…/12152ec…/pexels-photo-4621785.jpeg?version=); */

main .last-section{
  background-color: #f4f8fb;
  height: 600px;
}
main .last-section .last-texts{
  text-align: center;
  padding-top: 60px;

}
main .last-section .last-texts h2{
    font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 20px;
}
main .last-section .last-texts p{
  font-size: 1.125rem;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 40px;
}
main .last-section .last-boxes{
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 30px;
}
main .last-section .last-boxes .box-1{
  background-color: white;
  padding: 40px 60px 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 4px #1111;
}
main .last-section .last-boxes .box-2{
  background-color: white;
  padding: 40px 60px 10px;
    border-radius: 20px;
      box-shadow: 4px 4px 4px 4px #1111;
}
main .last-section .last-boxes i{
  font-size: 40px;
  color: #f2a90d;
  margin-bottom: 20px;
}
main .last-section .last-boxes p{
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  letter-spacing: 1.1;
}
main .last-section .last-boxes .p-boxes{
  margin-left: 70px;
  margin-top: 25px;
}

main .last-section .last-boxes .almeda{
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
}
main .last-section .last-boxes .company{
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}
main .last-button button{
  background-color: #876cc4;
  color: white;
  border: none;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  height: 30px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin-top: -15px;
  cursor: pointer;
  margin-left: 560px;
  margin-top: -90px;
}
main .last-button{
  background-color: #f4f8fb;
  padding-bottom: 70px;
}
/* ! sectionlar bitti footer */
footer{
  background-color: #333333;
  height: 240px;
}
footer p{
  text-align: center;
  color: white;
    font-family: "Open Sans", sans-serif;
    padding-top: 50px;
}
footer .footer-p1{
  font-size: 0.875rem;
}
footer .footer-p2{
  font-size: 13px;
  margin-top: 40px;
}
footer .footer-p2 a{
  color: #876cc4;
  font-size: 13px;
}

body .gears .fa-gears{
  font-size: 60px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #97bed8;
}