
body{
    margin: 0px;
    padding: 0px;
}
nav{
    background: #b29eb5;
    height: 90px;
}
.Bootcamp, .Information{
    list-style-type: none;
     margin: 0;
    padding: 0; 
}
.Bootcamp li{ 
    float: left;
    font-style: italic;
    font-size: large;
    position: absolute;
    top: -20px;
}
.Information li{
    float: right;  
}

.Bootcamp li a{
    color:  rgb(4, 59, 95);
    height: 60px;
}
.Bootcamp li a, .Information li a{
    display: block;
    color: #FFF; 
    text-decoration: none;
    height: 60px; 
    line-height: 60px;
    padding: 0px 30px;
   
}
.Bootcamp li a:hover , .Information li a:hover{
    background: #595959;
} 
.What .Services{
    text-align: center;
    position: absolute;
    top: 20px;
    color: white;
    font-style: italic;

}
.What .services2{
    text-align: center;
}
.What .textp{
    text-align: center;
    font-style: italic;
} 
.photos .photo1{
    float: left;
    position: absolute;
    left: 300px;
    width: 120px;
}
.photos .photo2{
    float: right;
    position: absolute;
    left: 600px;
    width: 120px;
    top: 275px;
}
.photos .photo3{
    float: right;
    position: absolute;
    left: 900px;
    width: 120px;
    top: 275px;
}
.phtext .text1{
    float: left;
    position: absolute;
    left: 250px;
    text-align: center;
    font-style: italic;
    background-color: rgb(183, 205, 229);
    top: 410px;
}
.phtext .text2{
    float: left;
    text-align: center;
    position: absolute;
    left: 550px;
    font-style: italic;   
    color: black;
    background-color: #ba8bf0;
    top: 410px;
}
.phtext .text3{
    float: left;
    text-align: center;
    position: absolute;
    left: 850px;
    font-style: italic;
    color: black;
    background-color: rgb(235, 235, 123);
    top: 410px;
}
.added-later .later{
    color: #FFF;
    font-size: large;
    font-style: italic;
    position: relative;
    top: -254px;
    right: -1068px;
}